/* Variables */

$color-main: #fed136;
$color-light: #ffffff;
$color-parapgraph: #d6d6d6;
$color-portfolio: #f7f7f7;

$font-title: 'Lora', serif;
$font-main: 'Work Sans', sans-serif;

$transition: 1s all;


/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    font-family: $font-main;
}

section {
    max-width: 1140px;
    margin: 0 auto;
}

/* Splash */

.splash{
    background-image: url("https://images.pexels.com/photos/4992644/pexels-photo-4992644.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
    background-position: center;
    background-size: cover;
    height: 70vh;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    max-width: 100vw;

    .navigation {
        display: flex;
        flex-direction: row;
        margin-top: 1rem;

        .logo {
            flex: 3;
            font-family: $font-title;
            font-style: italic;
            color: $color-main;

            h2 {
                line-height: 36px;
                margin: 0;
            }
        }

        .links {
            flex: 7;
            list-style: none;
            margin: 0;
            line-height: 36px;

            li {
                display: inline-block;
                text-transform: uppercase;
                margin-right: 1.5rem;

                a {
                    text-decoration: none;
                    color: $color-light;
                    transition: $transition;

                    &:hover {
                        color: $color-main;
                    }
                }
            }
        }
    }

    .splash-inner {
        align-items: center;
        justify-content: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        color: $color-light;

        h2 {
            font-style: italic;
            font-family: $font-title;
        }

        h1 {
            text-transform: uppercase;
            font-size: 48px;
        }

        .btn {
            height: 40px;
            width: 120px;
            text-transform: uppercase;
            color: white;
            background: $color-main;
            font-family: $font-main;
            font-weight: bold;
            border: none;
            transition: $transition;

            &:hover {
                border: 1px solid $color-light;
                background: rgba(0, 0, 0, 0);

            }
        }
    }
}