/* Variables */

$color-main: #fed136;
$color-light: #ffffff;
$color-parapgraph: #969696;
$color-portfolio: #f7f7f7;
$color-icons: #000000;

$font-title: 'Lora', serif;
$font-main: 'Work Sans', sans-serif;

$transition: 1s all;


/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    font-family: $font-main;
}

section {
    max-width: 1140px;
    margin: 0 auto 72px;
}

h2 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: bold;
}

p {
    color: $color-parapgraph;
    font-style: italic;
}

/* Splash */

.splash {
    background-image: url("https://images.pexels.com/photos/4992644/pexels-photo-4992644.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
    background-position: center center;
    background-size: cover;
    height: 70vh;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    max-width: 100vw;

    .navigation {
        display: flex;
        padding-top: 1rem;

        .logo {
            flex: 2;
            font-family: $font-title;
            font-style: italic;
            color: $color-main;
            margin-right: auto;

            h2 {
                text-transform: none;
                font-size: 36px;
                line-height: 46px;
                margin: 0;
            }
        }

        nav {
            flex: 8;

            .links {
                list-style: none;
                margin: 0;
                line-height: 46px;

                li {
                    display: inline-block;
                    text-transform: uppercase;
                    margin-right: 1rem;

                    a {
                        text-decoration: none;
                        color: $color-light;
                        transition: $transition;

                        i {display: none;}

                        &:hover {
                            color: $color-main;
                        }
                    }
                }
            }
        }
    }

    .splash-inner {
        align-items: center;
        justify-content: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        color: $color-light;

        h2 {
            font-style: italic;
            text-transform: none;
            font-family: $font-title;
        }

        h1 {
            text-transform: uppercase;
            font-size: 48px;
        }

        .btn {
            height: 40px;
            width: 120px;
            text-transform: uppercase;
            color: white;
            background: $color-main;
            font-family: $font-main;
            font-weight: bold;
            border: none;
            transition: $transition;

            &:hover {
                border: 1px solid $color-light;
                background: rgba(0, 0, 0, 0);
            }
        }
    }
}

/* Services */

.services {

    .title p {
        font-style: italic;
        margin-bottom: 60px;
    }

    .services-tiles {
        display: flex;

        .services-tile {
            flex: 1;
            display: flex;
            flex-direction: column;
            margin: 0 15px;

            i {
                font-size: 2rem;
                border-radius: 50%;
                line-height: 60px;
                margin: 0 auto;
                width: 60px;
                height: 60px;
                color: $color-main;
                border: 2px solid $color-main;
            }

            p {
                font-style: normal;
            }
        }
    }
}

/* Portfolio */

.portfolio {
    padding: 72px 0;
    margin: 0 auto;
    background: $color-portfolio;

    .portfolio-tiles {
        display: flex;
        flex-wrap: wrap;
        
        .portfolio-tile {
            flex: 30%;
            max-height: 400px;
            padding: 15px;
            display: flex;
            flex-direction: column;

            .portfolio-image {
                flex: 3;
                height: 70%;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            .portfolio-text {
                flex: 1;
                background-color: $color-light;
            }
        }
    }
}

/* Footer */ 

.footer {
    position: relative;
    height: 70px;

    p {
        text-align: left;
        line-height: 70px;
        margin: 0 0 0 10px;
    }

    ul {
        position: absolute;
        list-style: none;
        top: 50%;
        left: 50%;
        padding: 0;
        margin: 0;
        transform: translate(-50% , -50%);

        li {
            display: inline-block;

            a {
                text-decoration: none;

                i {
                    background: $color-icons;
                    color: $color-light;
                    border: none;
                    border-radius: 50%;
                    line-height: 50px;
                    width: 50px;
                    height: 50px;
                    font-size: 18px;
                }
            }
        }
    }
}

/* Media query */

@media (max-width: 767px) {
    .splash {
        height: 100vh;
    
        .navigation {

            .logo h2 {
                padding-left: 15px;
                font-size: 20px;
            }

            nav .links {
                height: 100%;

                li {
                    margin: 0;
                    padding-right: 20px;

                    a {
                        span {display: none;}
                        i {
                            display: inline-block;
                            color: $color-main;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }

    .services .services-tiles {
        flex-direction: column;
    }

    .portfolio .portfolio-tiles {
        flex-direction: column;

            .portfolio-tile {
                height: 500px;

                .portfolio-image {
                    height: 200px;
                }


            }
    }


}